[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{xml,json,yml,yaml}]
indent_size = 2

[*.{csproj,props,targets}]
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_space_between_method_declaration_name_and_open_parenthesis = false

# IDE0130: 命名空间与文件夹结构不匹配
dotnet_diagnostic.IDE0130.severity = silent

# IDE0048: 为清楚起见，请添加括号
dotnet_diagnostic.IDE0048.severity = silent

# RCS1123: Add parentheses when necessary
dotnet_diagnostic.RCS1123.severity = silent

# RCS1158: Static member in generic type should use a type parameter
dotnet_diagnostic.RCS1158.severity = silent

# RCS1001: Add braces (when expression spans over multiple lines)
dotnet_diagnostic.RCS1001.severity = silent

# IDE0290: 使用主构造函数
dotnet_diagnostic.IDE0290.severity = silent

# IDE0028: 简化集合初始化
dotnet_diagnostic.IDE0028.severity = silent

# IDE0017: 简化对象初始化
dotnet_diagnostic.IDE0017.severity = silent

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = silent

# IDE0057: 使用范围运算符
dotnet_diagnostic.IDE0057.severity = silent

# RCS1032: Remove redundant parentheses
dotnet_diagnostic.RCS1032.severity = silent
