<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="lua51.dll" os="windows" cpu="x64" target="lua51_x64.dll"/>
	<dllmap dll="lua51.dll" os="windows" cpu="x86" target="lua51_x86.dll"/>
	<dllmap dll="lua51.dll" os="linux,freebsd,netbsd" cpu="x64" target="libluajit-5.1.so"/>
	<dllmap dll="lua51.dll" os="linux,freebsd,netbsd" cpu="arm64" target="libluajit-5.1_arm64.so"/>
</configuration>
